*.a
*.mp3
*.wav
*.wad
*.mid
*.log
CMakeLists.txt
doomrl.iss
mod.info
revision.info
bin/doom.prc
bin/*bat
bin/*res
bin/drl.prc
bin/makewad
bin/doomrl
bin/*.dll
bin/*.exe
bin/user
bin/settings.lua
bin/log.txt
bin/backup
cmake-build-debug/
lib/
pkg/
src/drl.prc
src/drl.lps
src/fpcmade.x86_64-linux
src/Makefile
src/doomrl.lps
src/makewad.lps
src/backup
tmp/
!tmp/!readme.txt