tmp/
lib/
pkg/
CMakeLists.txt
cmake-build-debug/
mod.info
revision.info
*.a
*.mp3
*.wav
bin/core.wad
bin/doom.prc
bin/doomrl.wad
src/doomrl.lps
src/makewad.lps
src/backup/
bin/log.txt
temp/
bin/backup/
src/fpcmade.x86_64-linux
src/Makefile
*.wad
bin/makewad
bin/doomrl
bin/*.dll
bin/*.exe
*.mid
bin/user/*
bin/settings.lua
*.log
