*.a
*.log
*.mid
*.mp3
*.wad
*.wav
CMakeLists.txt
doomrl.iss
mod.info
revision.info
bin/*bat
bin/*.dll
bin/*.exe
bin/*res
bin/doom.prc
bin/doomrl
bin/drl.prc
bin/log.txt
bin/makewad
bin/user
bin/settings.lua
bin/backup
cmake-build-debug/
lib/
pkg/
src/backup
src/Makefile
src/doomrl.lps
src/drl.lps
src/drl.prc
src/fpcmade.x86_64-linux
src/makewad.lps
tmp/
!tmp/!readme.txt